* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.alere {
    color: #2A2A29;
    font-size: 25px;
}

.creatividad {
    color: #8A2658;
}

#intro {
    background: url("../img/conta2.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 100%;*/
    width: 100%;
    text-align: center;
}

#a {
    /*color: red;*/
    font-size: 17px;
}

#texto_banner {
    color: white;
    font-size: 50px;
}

#texto2_banner {
    color: white;
    font-size: 30px;
}

#img_banner {
    /*border: 2px red solid;*/
    /*text-align: center;*/
    /*margin-top: 6%;*/
    /*background-color: rgba(107, 115, 128, 0.5);*/
}

#icono {
    color: #fff;
    font-size: 20px;
}

#tooltip {
    position: relative;
    z-index: 20;
    color: #FFF;
}

#tooltip span {
    display: none;
}

#tooltip:hover {
    z-index: 21;
}

#tooltip:hover span {
    display: block;
    width: 170px;
    padding: 5px;
    color: #fff;
    background-color: rgb(138, 38, 88);
    font-size: 11px;
    text-decoration: none;
    position: absolute;
    border-radius: 6px;
    top: 40px;
    left: -100px;
}


/*nav*/

.navbar-minav {
    /*background-color: #22bbf4;*/
    background-color: #cd6155;
    border-color: #c7c7c7;
}

.navbar-minav .navbar-brand {
    color: #fff;
}

.navbar-minav .navbar-nav > li > a {
    color: #fff;
}

.navbar-minav .navbar-nav > li > a:hover,
.navbar-minav .navbar-nav > li > a:focus {
    color: black;
    background-color: transparent;
}

.navbar-minav .navbar-nav > .active > a,
.navbar-minav .navbar-nav > .active > a:hover,
.navbar-minav .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgb(138, 38, 88);
}


/*----------------------quines somos-------------------*/

#about {
    /*border: 2px red solid;*/
}

#quienes {
    /*border: 2px red solid;*/
}

#quienes2 {
    /*border: 2px green solid;*/
}

.banner {
    /*overflow: hidden;*/
    padding: 15px 0px;
    margin-top: 2%;
    background-color: rgb(138, 38, 88);
}

.banner p {
    border: 1px #fff solid;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    color: #FFF;
    padding: 5px;
}

.banner p b {
    font-size: 18px;
    color: #fff;
}

.caja_q {
    /*outline: 2px red solid;*/
    width: 75%;
    margin: 0 auto;
    margin-top: .5%;
    /*text-align: center;*/
}

.caja_q_1 {
    /*outline: 2px green solid;*/
    width: 41%;
    float: left;
    margin-left: 8%;
    margin-top: 3%;
}

.icono_q {
    font-size: 30px;
    color: rgb(138, 38, 88);
}

.caja_q_1:hover .icono_q {
    color: rgb(42, 42, 41);
}

.contentexto_caja {
    /*outline: 2px red solid;*/
    width: 100%;
}

.titulo_caja {
    font-weight: bold;
    font-size: 25px;
}

.texto_caja {
    font-size: 17px;
    text-align: justify;
}


/*------------------------servicios-----------------*/

.banner2 {
    /*overflow: hidden;*/
    padding: 15px 0px;
    margin-top: 2%;
    background-color: rgb(138, 38, 88);
}

.banner2 p {
    border: 1px #fff solid;
    font-size: 16px;
    width: 42%;
    margin: 0 auto;
    /*text-align: justify;*/
    color: #FFF;
    padding: 5px;
}


/*-----------contactro------------*/

.contenedorform {
    /*outline: 2px red solid;*/
    margin: 0 auto;
    width: 100%
}

.form {
    width: 50%;
    float: left;
}

.tituloform {
    /*outline: 2px red solid;*/
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: rgb(42, 49, 60);
    color: white;
}

.mapa {
    /*    outline: 2px red solid;
*/
    float: right;
    width: 45%;
    margin-top: 2%;
}

.mapa iframe {
    width: 100%;
}

#pie {
    text-align: center;
    font-size: 25px;
    padding: 15px;
    color: white;
}

footer {
    background-color: rgb(205, 97, 85);
}

@media screen and (max-width: 480px) {
    /*#img_banner {
    display: none;
}
*/
    #texto_banner {
        font-size: 25px;
    }
    #texto2_banner {
        font-size: 16px;
    }
    #tooltip:hover span {
        width: 170px;
        top: 10px;
        left: 10px;
    }
}
